<%- include ('layout/head') %> 
<%- include ('layout/header') %> 
			
			<!-- 
			=============================================
				Theme Inner Banner
			============================================== 
			-->
			<div class="theme-inner-banner">
				<div class="container">
					<h2 class="intro-title text-center">About Company</h2>
					<ul class="page-breadcrumb style-none d-flex justify-content-center">
						<li><a href="index.html">Home</a></li>
						<li class="current-page">About us</li>
					</ul>
				</div>
				<img src="/static/site/images/shape/shape_38.svg" alt="" class="shapes shape-one">
				<img src="/static/site/images/shape/shape_39.svg" alt="" class="shapes shape-two">
			</div> <!-- /.theme-inner-banner -->



			<!-- 
			=============================================
				Feature Section Two
			============================================== 
			-->
			<div class="fancy-feature-two position-relative mt-140 lg-mt-100">
				<div class="container">
					<div class="row">
						<div class="col-xxl-5 col-lg-6 col-md-7 ms-auto">
							<div class="block-style-two" data-aos="fade-left">
								<div class="title-style-one">
									<div class="sc-title-four">WHO WE ARE</div>
									<h2 class="main-title">World best AI for your business. </h2>
								</div> <!-- /.title-style-one -->
								<p class="pt-10 pb-20 lg-pb-10">AI technology is perfect for best business solutions & we offer help to achieve your goals.</p>
								<ul class="style-none list-item color-rev">
									<li>Various analysis options.</li>
									<li>Page Load (time, size, number of requests).</li>
									<li>Big data analysis.</li>
									<li>Adance Data analysis operation.</li>
								</ul>
								<a href="contact-us.html" class="btn-one mt-30">Contact us</a>
							</div> <!-- /.block-style-two -->
						</div>
					</div>
				</div> <!-- /.container -->
				<div class="illustration-holder-two sm-mt-40">
					<img src="/static/site/images/assets/ils_05.svg" alt="" class="main-illustration w-100">
					<img src="/static/site/images/assets/ils_05_1.svg" alt="" class="shapes shape-one">
					<img src="/static/site/images/assets/ils_05_2.svg" alt="" class="shapes shape-two" data-aos="fade-up" data-aos-anchor=".fancy-feature-two" data-aos-delay="100" data-aos-duration="2000">
					<img src="/static/site/images/assets/ils_05_3.svg" alt="" class="shapes shape-three" data-aos="fade-up" data-aos-anchor=".fancy-feature-two" data-aos-delay="150" data-aos-duration="2000">
					<img src="/static/site/images/assets/ils_05_4.svg" alt="" class="shapes shape-four">
					<img src="/static/site/images/assets/ils_05_5.svg" alt="" class="shapes shape-five">
				</div> <!-- /.illustration-holder-two -->
			</div> <!-- /.fancy-feature-two -->



			<!-- 
			=============================================
				Feature Section Twenty Two
			============================================== 
			-->
			<div class="fancy-feature-twentyTwo mt-150 lg-mt-60">
				<div class="container">
					<div class="row gx-xxl-5">
						<div class="col-lg-4 col-sm-6 d-flex" data-aos="fade-up">
							<div class="block-style-fourteen mt-35">
								<h5>Our History</h5>
								<p>Convert data noise to intelligent insights for competitive differention qulaity check.</p>
							</div> <!-- /.block-style-fourteen -->
						</div>
						<div class="col-lg-4 col-sm-6 d-flex" data-aos="fade-up" data-aos-delay="100">
							<div class="block-style-fourteen mt-35">
								<h5>Our Mission</h5>
								<p>Except to obtain some advantage from it? But who has any right to find fault with a consequences for competitive differention qulaity.</p>
							</div> <!-- /.block-style-fourteen -->
						</div>
						<div class="col-lg-4 d-flex" data-aos="fade-up" data-aos-delay="200">
							<div class="block-style-fourteen mt-35">
								<h5>Our Vission</h5>
								<p>Except to obtain some advantage from it? But who has any right to find fault with a consequences data noise to intelligent insights.</p>
							</div> <!-- /.block-style-fourteen -->
						</div>
					</div>
				</div>
			</div> <!-- /.fancy-feature-twentyTwo -->




			<!--
			=====================================================
				Counter Section One
			=====================================================
			-->
			<div class="counter-section-one">
				<div class="inner-container bg-color style-two rounded-0 w-100">
					<div class="container">
						<div class="row justify-content-center">
							<div class="col-md-4 col-sm-6" data-aos="fade-up">
								<div class="counter-block-one text-center mb-20">
									<div class="main-count"><span class="counter">20</span>mil</div>
									<p>Human labor hours saved <br> with help of AI</p>
								</div> <!-- /.counter-block-one -->
							</div>
							<div class="col-md-4 col-sm-6" data-aos="fade-up" data-aos-delay="100">
								<div class="counter-block-one text-center mb-20">
									<div class="main-count"><span class="counter">1.3</span>b+</div>
									<p>Generated revenue by <br>AI Solutions</p>
								</div> <!-- /.counter-block-one -->
							</div>
							<div class="col-md-4 col-sm-6" data-aos="fade-up" data-aos-delay="200">
								<div class="counter-block-one text-center mb-20">
									<div class="main-count">$<span class="counter">15</span>mil+</div>
									<p>Saved operational costs <br>due to AI</p>
								</div> <!-- /.counter-block-one -->
							</div>
						</div>
					</div>
					<img src="/static/site/images/shape/shape_40.svg" alt="" class="shapes shape-three">
					<img src="/static/site/images/shape/shape_41.svg" alt="" class="shapes shape-four">
				</div>  <!-- /.inner-container -->
			</div> <!-- /.counter-section-one -->



			<!-- 
			=============================================
				Feature Section Five
			============================================== 
			-->
			<div class="fancy-feature-five position-relative mt-50">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-xxl-4 col-lg-5 col-md-6">
							<div class="block-style-five pt-60 md-pt-20" data-aos="fade-right">
								<div class="title-style-one">
									<div class="sc-title-four">WHY CHOOSE US</div>
									<h2 class="main-title">Why you should choose us?</h2>
								</div> <!-- /.title-style-one -->
								<p class="pt-10 pb-70">Tell us about your product and we will give you expert assistance.</p>
								<div class="skills-progress skills">
									<div class="habilidades_contenedor">
								        <div class="codeconSkills">
								            <div class="codeconSkillbar mb-80 md-mb-60">
								            	<div class="skill-text">
								            		<span class="codeconSkillArea">SKIll</span>
								            	</div>
								                <div class="skillBar" data-percent="73%" style="background: #F25DFF;">
								                	<span class="PercentText">73%</span>
								                </div>
								            </div>
								            <div class="codeconSkillbar">
								            	<div class="skill-text">
								            		<span class="codeconSkillArea ">Performance</span>
								                    
								            	</div>
									            <div class="skillBar" data-percent="91%" style="background: #00E8FA;">
									                <span class="PercentText">91%</span>
									            </div>
								            </div>
								    	</div> <!-- /.codeconSkills -->
								    </div> <!-- /.habilidades_contenedor -->
								</div> <!-- /.skills-progress -->
							</div> <!-- /.block-style-five -->
						</div>

						<div class="col-xxl-8 col-lg-7 col-md-6 text-end">
							<div class="illustration-holder d-inline-block position-relative xs-mt-20">
								<img src="/static/site/images/assets/ils_06.svg" alt="" class="main-illustration w-100">
								<img src="/static/site/images/assets/ils_06_1.svg" alt="" class="shapes shape-one">
								<img src="/static/site/images/assets/ils_06_2.svg" alt="" class="shapes shape-two">
								<img src="/static/site/images/assets/ils_06_3.svg" alt="" class="shapes shape-three" data-aos="fade-down" data-aos-duration="1800">
								<img src="/static/site/images/assets/ils_06_4.svg" alt="" class="shapes shape-four" data-aos="fade-left" data-aos-duration="1800">
								<img src="/static/site/images/assets/ils_06_5.svg" alt="" class="shapes shape-five">
							</div><!--  /.illustration-holder -->
						</div>
					</div>
				</div> <!-- /.container -->
			</div> <!-- /.fancy-feature-five -->


			<!--
			=====================================================
				Team Section One
			=====================================================
			-->
			<div class="team-section-one mt-110 pt-110 pb-170 lg-mt-80 lg-pt-80 lg-pb-80">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-sm-6">
							<div class="title-style-one text-center text-sm-start xs-pb-20" data-aos="fade-right">
								<div class="sc-title-four">OUR TEAM</div>
								<h2 class="main-title">Our Members</h2>
							</div> <!-- /.title-style-one -->
						</div>
						<div class="col-sm-6 ms-auto d-flex justify-content-center justify-content-sm-end" data-aos="fade-left">
							<a href="team.html" class="btn-one xs ripple-btn">See all members <i class="fas fa-chevron-right"></i></a>
						</div>
					</div>

					<div class="row pt-20">
						<div class="col-xl-3 col-sm-6" data-aos="fade-up">
							<div class="team-block-one tran3s mt-35">
								<div class="img-meta"><img src="/static/site/images/team/img_01.jpg" alt="" class="w-100"></div>
								<a href="team-details.html" class="team-info">
									<span class="designation-text">Markting Expert</span>
									<span class="name tran3s">Muhibbur Rashid</span>
								</a>
							</div> <!-- /.team-block-one -->
						</div>
						<div class="col-xl-3 col-sm-6" data-aos="fade-up" data-aos-delay="100">
							<div class="team-block-one tran3s mt-35">
								<div class="img-meta"><img src="/static/site/images/team/img_02.jpg" alt="" class="w-100"></div>
								<a href="team-details.html" class="team-info">
									<span class="designation-text">Programmer</span>
									<span class="name tran3s">Zubayer Al Hasan</span>
								</a>
							</div> <!-- /.team-block-one -->
						</div>
						<div class="col-xl-3 col-sm-6" data-aos="fade-up" data-aos-delay="200">
							<div class="team-block-one tran3s mt-35">
								<div class="img-meta"><img src="/static/site/images/team/img_03.jpg" alt="" class="w-100"></div>
								<a href="team-details.html" class="team-info">
									<span class="designation-text">Reasearcher</span>
									<span class="name tran3s">Jannat Ferdaus</span>
								</a>
							</div> <!-- /.team-block-one -->
						</div>
						<div class="col-xl-3 col-sm-6" data-aos="fade-up" data-aos-delay="300">
							<div class="team-block-one tran3s mt-35">
								<div class="img-meta"><img src="/static/site/images/team/img_04.jpg" alt="" class="w-100"></div>
								<a href="team-details.html" class="team-info">
									<span class="designation-text">Markting Expert</span>
									<span class="name tran3s">Rashed Kabir</span>
								</a>
							</div> <!-- /.team-block-one -->
						</div>
					</div>
				</div>
				<img src="/static/site/images/shape/shape_42.svg" alt="" class="shapes shape-one">
				<img src="/static/site/images/shape/shape_43.svg" alt="" class="shapes shape-two">
			</div> <!-- /.team-section-one -->



			<!--
			=====================================================
				Feedback Slider Three
			=====================================================
			-->
			<div class="feedback-section-three style-two mt-150 lg-mt-90" data-aos="fade-up">
				<div class="container">
					<div class="slider-wrapper">
						<div class="feedback_slider_three">
							<div class="item">
								<div class="feedback-block-three d-md-flex align-items-center">
									<div class="img-meta">
										<img src="/static/site/images/media/img_05.jpg" alt="">
									</div>
									<div class="text-wrapper mb-50">
										<div class="icon d-flex justify-content-center align-items-center"><img src="/static/site/images/icon/icon_15.svg" alt=""></div>
										<p>Certainly from my perspective been great success with lore giving that <a href="#">enterprises</a> level magna assured quality due issue there live the blind texts separated.</p>
										<div class="name">
											<h6>Martin Jonas</h6>
											<span>Head of marketing, Inter inc.</span>
										</div> <!-- /.name -->
									</div> <!-- /.text-wrapper -->
								</div> <!-- /.feedback-block-three -->
							</div>
							<div class="item">
								<div class="feedback-block-three d-md-flex align-items-center">
									<div class="img-meta">
										<img src="/static/site/images/media/img_06.jpg" alt="">
									</div>
									<div class="text-wrapper mb-50">
										<div class="icon d-flex justify-content-center align-items-center"><img src="/static/site/images/icon/icon_15.svg" alt=""></div>
										<p>Having a home based business is a wonderful asset to your life. The problem still stands it comes time <a href="#">advertise</a> your business for a cheap cost you have looked.</p>
										<div class="name">
											<h6>Carolyn Tyler</h6>
											<span>Senior Developer, Sinco inc.</span>
										</div> <!-- /.name -->
									</div> <!-- /.text-wrapper -->
								</div> <!-- /.feedback-block-three -->
							</div>
							<div class="item">
								<div class="feedback-block-three d-md-flex align-items-center">
									<div class="img-meta">
										<img src="/static/site/images/media/img_07.jpg" alt="">
									</div>
									<div class="text-wrapper mb-50">
										<div class="icon d-flex justify-content-center align-items-center"><img src="/static/site/images/icon/icon_15.svg" alt=""></div>
										<p>It’s a great exprience to work with <a href="#">Sinco</a>. They’r vey humble and expert & the service has been excellent. The author is very quick and nice when it comes to support.</p>
										<div class="name">
											<h6>Rebecca Jones</h6>
											<span>Senior UX Designer, Creativegigs.</span>
										</div> <!-- /.name -->
									</div> <!-- /.text-wrapper -->
								</div> <!-- /.feedback-block-three -->
							</div>
						</div> <!-- /.feedback_slider_three -->
					</div> <!-- /.slider-wrapper -->
				</div> <!-- /.container -->
			</div> <!-- /.feedback-section-three -->



			<!--
			=====================================================
				Partner Section Two
			=====================================================
			-->
			<div class="partner-section-two mt-130 lg-mt-70 lg-pb-20">
				<div class="container">
					<div class="title-style-one text-center" data-aos="fade-up">
						<div class="sc-title-four">over 150k+ client</div>
						<h2 class="main-title md">Join 27,000+ companies who’ve reached </h2>
					</div> <!-- /.title-style-one -->

					<div class="row">
						<div class="col-12 m-auto">
							<ul class="style-none text-center">
								<li class="partner-logo-block-one d-inline-block" data-aos="fade-up"><a href="#" class="d-flex align-items-center justify-content-center"><img src="/static/site/images/logo/Plogo-13.png" alt=""></a></li>
								<li class="partner-logo-block-one d-inline-block" data-aos="fade-up" data-aos-delay="100"><a href="#" class="d-flex align-items-center justify-content-center"><img src="/static/site/images/logo/Plogo-12.png" alt=""></a></li>
								<li class="partner-logo-block-one d-inline-block" data-aos="fade-up" data-aos-delay="200"><a href="#" class="d-flex align-items-center justify-content-center"><img src="/static/site/images/logo/Plogo-9.png" alt=""></a></li>
								<li class="partner-logo-block-one d-inline-block" data-aos="fade-up" data-aos-delay="300"><a href="#" class="d-flex align-items-center justify-content-center"><img src="/static/site/images/logo/Plogo-7.png" alt=""></a></li>
								<li class="partner-logo-block-one d-inline-block" data-aos="fade-up" data-aos-delay="400"><a href="#" class="d-flex align-items-center justify-content-center"><img src="/static/site/images/logo/Plogo-8.png" alt=""></a></li>
							</ul>
						</div>
					</div>
				</div> <!-- /.container -->
			</div> <!-- /.partner-section-two -->



			<!--
			=====================================================
				Address Section One
			=====================================================
			-->
			<div class="address-section-one">
				<div class="container">
					<div class="inner-content bg-white" data-aos="fade-up" data-aos-delay="100">
						<div class="row g-0">
							<div class="col-md-6 d-flex">
								<div class="address-block-one d-flex border-right">
									<div class="icon"><img src="/static/site/images/icon/icon_06.svg" alt=""></div>
									<div class="text-meta">
										<h4 class="title">Our Address</h4>
										<p>1012 Pebda Parkway, Mirpur 2 <br>Dhaka, Bangladesh</p>
									</div> <!-- /.text-meta -->
								</div> <!-- /.address-block-one -->
							</div>
							<div class="col-md-6 d-flex">
								<div class="address-block-one d-flex">
									<div class="icon"><img src="/static/site/images/icon/icon_07.svg" alt=""></div>
									<div class="text-meta">
										<h4 class="title">Contact Info</h4>
										<p>Open a chat or give us call at <br><a href="#">310.841.5500</a></p>
									</div> <!-- /.text-meta -->
								</div> <!-- /.address-block-one -->
							</div>
						</div>
					</div>
				</div>
			</div> <!-- /.address-section-one -->

		

			<!--
			=====================================================
				Footer
			=====================================================
			-->
			<%- include ('layout/footer') %> 